<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>{{ customer.first_name }} {{ customer.last_name }}</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-light bg-secondary">
	      		<a class="navbar-brand text-light" href="/"> 
	        	Shop Store
	      		</a>
	      		<form class="form-inline">
	        		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	        		<button class="btn btn-outline-light my-2 my-sm-0 text-light" type="submit">Search</button>
	      		</form>
	    	</nav>
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6">
					<div class="offset-3">
						<h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
						<p>{{ customer.email }}</p>
						<img src="http://{{ request.get_host }}/{{ customer.profile_picture.image }}">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>