<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <title>{{ maillot.name }}</title>
	</head>
	<body>
		<div class="container">
			{% include "navbar.html" %}
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6">
					<div class="offset-3">

					  	<h1>{{ maillot.name }}</h1>
					    <h3>{{ maillot.name }} - ${{ maillot.price }}</h3>
					    <p>{{ maillot.description }}</p>
					    <img src="http://{{ request.get_host }}/{{ maillot.maillot_picture }}">
				    </div>
			    </div>
		    </div>
	    </div>
</body>
</html>