<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
  		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <title>{{ product.name }}</title>
	  <meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			{% include "partials/navbar.html" %}
			<div class="row mt-2 ml-1">
				<h1 class="product-name">{{ product.name }}</h1>
			</div>

			<div class="row">  
				<div class="col-sm ">click
					<img src="http://{{ request.get_host }}/{{ product.shoes }}">
				</div>

				<div class="col-sm">
	        		<h3>Product details</h3>

    				<h5>Name: {{ product.name }}</h5>
				  	<h5>Price: ${{ product.price }}</h5>
				  	<h5>Description: {{ product.description }}</h5>
				  	<button type="button" class="btn btn-lg btn-warning w-100 text-light" disabled>
	  				<i class="fas fa-shopping-cart "></i>
	  				Buy Now
					</button>


					{% for comment in comments %}
  							<hr>
  							<div style="background: lightgray;">
    							<h5>{{ <div class="mt-5">  
				  	 	<h3>Comments</h3>
  						{% for comment in comments %}
  							<hr>
  							<div style="background: lightgray;">
    							<h5>{{ comment.comment.user.username }}</h5>
    							<p>{{ comment.comment.text }}</p>
							</div>
							<h4>Comment Responses: </h2>
							<ul>
							{% for comment_response in comment.comments_responses %}
								<li>{{ comment_response.username }}: {{ comment_response.text }}</li>
							{% endfor %}
								<a href="{% url 'shop_app:comment_response_form' comment.comment.id %}">Write a comment response...</a>
							</ul>
						{% endfor %}
					</div>
					<div class="mt-5">

  						
  						<hr>
  						<h3>Questions</h3>
  						{% for question in questions %}
    						<hr>
    						<div style="background: lightgray;">
      							<h5>{{ question.question.user.username }}</h5>
      							<h5>{{ question.question.title }}</h5>
      							<p>{{ question.question.text }}</p>
      							<br>
    						</div>
    						<h4>Responses: </h4>
    						<ul>
    							{% for response in question.responses %}
      								<li>{{ response.username }}: {{ response.text }}</li>
    							{% endfor %}
    							<a href="{% url 'shop_app:response_form' question.question.id %}">Write a response...</a>
    						</ul>
  						{% endfor %}
  					</div>
			  	</div>
		  	</div>
		  </div>
		  {% include "partials/footer.html" %}