<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	    <title>Add a new question</title>
	</head>
	<body>
		<div class="container">
			{% include "navbar.html" %}
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6">
					<div class="offset-3">
						<h1>Quelle est votre question ?</h1>
						<form action="" method="POST">
							{{ question_form.as_p }}
							{% csrf_token %}
							<input type="submit" name="submit" value="send question">
						</form>
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>