<nav class="navbar navbar-light bg-secondary">
    <a class="navbar-brand text-light" href="/">
    <i class="fab fa-spotify"></i>  
  Shop Store
  </a>
  <h2 style="color:white">{{ user.username }}</h2>
  {% if request.user.is_authenticated %}
      <div class='row'>
          <a href="{% url 'profile_app:logout_view' %}"><button type="button" class="btn btn-danger mr-3">Logout</button></a>
          <a href="{% url 'profile_app:edit_profile' request.user.id %}"><button type="button" class="btn btn-warning">Edit Profile</button></a>
      </div>
  {% else %}
      <div class='row'>
          <a href="{% url 'profile_app:login' %}"><button type="button" class="btn btn-success mr-3">Login</button></a>
          <a href="{% url 'profile_app:signup' %}"><button type="button" class="btn btn-primary">Signup</button></a>
      </div>
  {% endif %}
  

  
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search"  placeholder="Search" id="aa" aria-label="Search">
      <a href="javascript:test();"  class="btn btn-outline-light my-2 my-sm-0 text-light">Search</a>
    </form>
</nav>