<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <title>Home Page</title>
	  <script type="text/javascript">
		  function test()
		  {
			var object = document.getElementById('aa');

			var url = "{% url 'shop_app:search' value=1111 %}".replace("1111",object.value.toString());
			

			document.location.href = url;
		  }
	  </script>
	</head>
    <body onkeypress="if(event.keyCode == 13){ test(); }">
        <div class="container" >